* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #EEAECA;
    background: radial-gradient(#1cb5e095 10%, #000210 130%);
    display: flex;
    justify-content: center;
    padding: 40px 20px;

}

html,
body {
    min-height: 100vh;
}

.container {
    width: 70%;
    max-width: 900px;
}

#search {
    width: 100%;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    margin-bottom: 30px;
    outline: none;
    transition: 0.2s ease;
}

#search:focus {
    background: rgba(255, 255, 255, 0.8);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;

}

.card {
    border: 1px solid rgba(255, 255, 255, 0.25);

    /* transparent glass */
    backdrop-filter: blur(12px) saturate(160%);
    -webkit-backdrop-filter: blur(12px) saturate(160%);

    padding: 40px 25px;
    border-radius: 15px;
    text-align: center;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    transition: transform 0.25s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;



}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.card:hover img {
    transform: scale(1.1);
}

.card img {
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 14px;
    border: 3px solid #ffffffaa;
    transition: all ease 0.3s;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 4px;
    color: #222;
}

.card .role {
    color: #555;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}

.card .bio {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
}